body {
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageCovid {
  width: 350px;
  margin-top: 50px;
}

.imageStayHome {
  width: 120px;
  margin-left: 30px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}